[submodule "extern/logger"]
	path = extern/logger
	url = https://github.com/disrado/logger.git
[submodule "extern/flame"]
	path = extern/flame
	url = https://github.com/disrado/FlameEngine.git
	branch = feature/ecs
